#root {
  max-width: 800px;
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
}

.app {
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font-family);
}

p {
  font-family: var(--body-font-family);
}
